<%# Update the action buttons on the card (if the card is visible on this page) %>
<%= turbo_stream.replace "listing-actions-#{@listing.id}" do %>
  <div id="listing-actions-<%= @listing.id %>" class="mc-record-back-actions">
    <%= render "listings/actions", listing: @listing, in_session: false %>
  </div>
<% end %>

<%# Remove the pile item row (if on the dig session page) %>
<%= turbo_stream.remove "pile-item-#{@listing.id}" %>

<%# Update the session bar count %>
<%= turbo_stream.replace "session-bar" do %>
  <%= render "shared/session_bar", dig_session: @dig_session %>
<% end %>
