<div class="card" data-controller="record">
  <div class="card-header">
    <h4 class="my-0 fw-normal"><%= record.title %></h4>
  </div>
  <div class="card-body d-flex flex-column">
    <div class="youtube-player rounded">
      <div id="player" class="responsive-iframe"></div>
    </div>
    <div class="toolbar d-flex mt-2 bg-light p-2 rounded">
      <%= link_to 'Add Mark', '#', { class: 'btn btn-success', data: { action: 'click->record#addMark' } } %>
    </div>
    <%= render MarksComponent.new(marks: record.marks) %>
  </div>
  <%= hidden_field_tag 'crate_id', record.crate_id, data: { record_target: 'crateID' } %>
  <%= hidden_field_tag 'record_id', record.id, data: { record_target: 'recordID' } %>
  <%= hidden_field_tag 'youtube_id', Youtube::Service.video_id(url: record.url), data: { record_target: 'youtubeID' } %>
</div>
