<%= render(Breadcrumbs::BreadcrumbsComponent.new) do |component| %>
  <% component.with_breadcrumb(href: '/') do %>Crates
  <% end %>
  <% component.with_breadcrumb(active: true) do %><%= @crate.name %>
  <% end %>
<% end %>

<div class="crate">
  <h1 class="mb-3"><%= @crate.name %></h1>
  <%= render 'records/modal', crate: @crate %>
  <% if @crate.records.select(&:persisted?).present? %>
    <div class="row mx-n3">
      <% @crate.records.select(&:persisted?).each do |record| %>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <%= render RecordCardComponent.new(record: record) %>
        </div>
      <% end %>
  <% else %>
    No records yet.
  <% end %>
  </div>
</div>