<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title><%= content_for(:title) || "Milkcrate" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag "application.tsx" %>
  </head>
  <body class="mc-body min-h-screen">
    <%= yield %>
  </body>
</html>
